---

---

<body class="relative text-black dark:text-white">
  <div
    class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
    bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
    dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]
    flex items-center flex-col justify-center"
  >
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      <strong class="opacity-50">404.</strong> Coming Soon
    </h1>
    <p>Site is under construction</p>
  </div>
</body>
