---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Present",
    title: "Software Engineer",
    company: "GTD",
    companyLink: "https://gtd.es",
    description:
      "Designing, building and mantaining real time applications for the aerospace industry. These include pre-flight configuration panels, and real-time data visualisation dashboards. \n Figma + Vue JS Django or Qt C++",
    link: "/portfolio/work",
  },
  {
    date: "Jan - Jul 2019",
    title: "Operations Intern",
    company: "Heuritech",
    companyLink: "https://heuritech.com",
    description:
      "Improved Image Recognition models performance by curating data to improve its quality. Developed tools to simplify colleagues' interactions with internal pipeline",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
