---
const personalImageAlt = "Martí Figueras";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <img
    class="rounded-full shadow-lg size-16 mb-2"
    src="/portfolio/mfiguera.png"
    alt={personalImageAlt}
  />
  <div class="flex gap-4 flex-wrap">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Hi, I'm Martí
    </h1>
    <a
      href="https://linkedin.com/in/mfigueras11"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for hire</Badge>
    </a>
  </div>

  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-violet-300 [&>strong]:text-violet-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +3 years of professional experience as a
    <strong>Full Stack Developer</strong>. I make products focused on simple yet
    beautiful user experience. <br />
    Based in <strike class="opacity-50"> Barcelona Paris</strike>
    Toulouse📍
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:mfigueras11@gmail.com">
      <MailIcon class="size-4" />
      Get in touch
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/mfigueras11">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
